.Finance {
  background-color: whitesmoke;
}

.ExpenseItem {
  background-color: white;
}

::-webkit-scrollbar {
  display: none;
}

.AddBtn {
  size: 70px;
}
.Color {
  background-image: linear-gradient(to left top, #ef629f, #eecda3);
}
.Color2 {
  background-image: linear-gradient(to right bottom, #00cdac, #02aab0, #00cdac);
}

.Sections {
  overflow: hidden;
}

.Finance {
  min-width: 800px;
  background-color: #00cdabbe;
}

/* .Form {
  position: fixed;
  bottom: 42px;
  width: 68%;
} */
